.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.modal.active {
  opacity: 1;
  pointer-events: all;

  transition: 0.4s all;
}
.modal__content {
  border-radius: 12px;
  background-color: #fff;
  width: 800px;
  height: 400px;
  transform: scale(0.5);
  transition: 0.4s all;
  display: flex;
  flex-direction: row;
}
.modal__content.active {
  transform: scale(1);
}
.modal__content__avatar {
  text-align: center;
  border-radius: 12px 0px 0px 12px;
  width: 40%;
  background-color: #1f2a63;
}
.modal__content__info {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  color: #fff;
  width: 60%;
  background: linear-gradient(180deg, #17002f 42.19%, #1f2a63 100%);
  border-radius: 0px 12px 12px 0px;
}
.avatar_image {
  margin-top: 40px;
  margin-bottom: 20px;
}
.gender-male {
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #212121;

  padding: 0px 15px;
  height: 16px;

  border-radius: 10px;
  background-color: #73d677;
  box-shadow: 0px 2px #3a743cba;
}
.gender-female {
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #212121;

  padding: 0px 15px;
  height: 16px;
  margin-bottom: 20px;

  border-radius: 10px;
  background-color: #c956ff;
  box-shadow: 0px 2px #5a2672;
}
.gender-hermaphrodite {
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #212121;

  padding: 0px 15px;
  height: 16px;

  border-radius: 10px;
  background-color: #f5db13;
  box-shadow: 0px 2px #5c520778;
}
.birth-year {
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #212121;

  padding: 0px 15px;
  height: 16px;

  border-radius: 10px;
  background-color: #07d6f2;
  box-shadow: 0px 2px #04454e;
}

.modal__content__info__name {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}
.modal__content__info__descr {
  width: 300px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px 10px;
  color: #212121;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
}
.inline-block {
  display: inline-block;
}
.modal__content__info__bottom {
  display: flex;

  margin-top: 40px;

  bottom: 0;
  left: 0;
}
.modal__content__info__bottom__item {
  padding-top: 5px;
  text-align: center;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 12px;
  width: 70px;
  height: 70px;
}
.modal__content__info__bottom__item__value {
  display: inline-block;
  text-align: center;
  padding: 2px 5px;
  border-radius: 20px;
  line-height: 25px;
  border: solid 2px #000000;
  color: #121212;
}
.modal__content__info__bottom__item_descr {
  margin-top: 10px;
  font-size: 12px;
  display: inline-block;
  color: #121212;
}
