@import "variables";
@import "libs/normalize";

@import "components/all";

body {
  background-color: $background;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 10px;
  //max-width: 1920px;
  // @media (max-width: 645px) {
  //   width: calc(100vw - 30px);
  //   margin-top: 15px;
  // }
}

.content {
  padding: 20px 0;

  &__error-info {
    margin: 100px auto;
    width: 500px;
    text-align: center;
    h2 {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    p {
      font-size: 20px;
    }
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 38px;
    margin-top: 60px;
    margin-bottom: 50px;
    margin: 35px 0;
    span {
      font-weight: 900;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 11px;
    @media (max-width: 1400px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 1060px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 730px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    &__btn {
      margin-left: 10px;
      padding: 0px 5px;
    }
    @media (max-width: 1290px) {
      .categories {
        width: 100%;
        overflow: auto;
        ul {
          width: 785px;
        }
      }
      .filter {
        padding-left: 20px;
        b {
          display: none;
        }
      }
    }
    @media (max-width: 820px) {
      .categories {
        margin-top: 30px;
      }
      flex-direction: column-reverse;
    }
    @media (max-width: 760px) {
      .categories {
        ul {
          li {
            padding: 8px 20px;
          }
        }
      }
    }
  }
}

.container {
  width: $container-width;
  margin: 0 auto;
  max-width: 1920px;

  &--cart {
    max-width: 820px;
    margin: 90px auto;
    .content__title {
      margin: 0;
    }
  }
}

.home-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #1f2a63;
}
// .home-container {
//   width: 100vw;

//   margin: 0 auto;
//   border-radius: 10px;
//   max-width: 1920px;
//   background-color: #1f2a63;
// }

.content-home {
  display: flex;
  position: relative;
  // display: flex;
  // //height: 100%;
  // //height: calc(100vh - 93px);
  // padding: 40px 0;
  flex-grow: 1;
  color: #fff;

  background: linear-gradient(180deg, #1f2a63 0%, #17002f 100%);
  h1 {
    font-family: "Karla";
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 4px;

    color: #ffffff;
  }
  p {
    color: #ffffff;
  }
}
.coverText {
  margin-top: 30px;
  max-width: 557px;
  //height: 516px;
  position: absolute;
  // // left: 10.9%;
  // // right: 53.3%;
  // top: 10.58%;
  // bottom: 24.02%;

  h1 {
    font-family: "Karla";
    font-style: normal;

    font-size: 72px;
    line-height: 74px;
    letter-spacing: 4px;
    span {
      font-weight: 700;
      color: #ffffff;
    }

    color: #ffffff;
  }
  p {
    margin-top: 30px;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    color: #ffffff;
  }

  button {
    width: 231px;
    height: 50px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: #ffc107;
    font-weight: bold;
    font-size: 23px;
    border: #ffc107;
    box-shadow: 0px 10px 1px #ffc107a1;
    cursor: pointer;
  }
}
.banner {
  width: 557px;
  height: 516px;
  position: absolute;
  left: 50.9%;
  right: 53.3%;
  top: 10.58%;
  bottom: 24.02%;
}
